################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/visual-studio-repo2/FileContentIndex/e8c4d607-08a5-496b-8130-55f8c21746cb.vsidx
